name: goreleaser

on:
  push:
    tags: ["v*"]
  #push:
  #  branches: ["main"]
  #pull_request:
  #  branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: actions/checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: actions/setup-go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26'
          cache: true

      - name: goreleaser/goreleaser-action
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
